* {
  margin: 0;
  padding: 0;
}

body {
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows:1fr;
}

img {
max-width:500px;
}

#leftSide {
display:flex;
flex-direction: column;
}

#buttonWrapper {
margin-top:10px;
margin-left:10px;
}

circle {
  cursor:pointer;
  fill:black;
}

circle:hover {
  fill:red !important;
}

circle .active {
  fill:red !important;
}